@tailwind base;
@tailwind components;
@tailwind utilities;

*,::before,::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  outline: 0;
}
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
 color: #030116;
}

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  height: 100vh;
  background: #030116;
  width:123px;
  font-size: 12px;
}
.nav {
  flex-direction: column;
  color: #ffffff;
  padding: 15px;
  row-gap: 15px;
  /* padding-left: 20px; */
}
.nav-items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.wrapper-section {
  width: 123px;
}