@tailwind base;
@tailwind components;
@tailwind utilities;

  @layer base {
    ul, ol {
      list-style: revert;
    }
  }

*,::before,::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  outline: 0;
}
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
 color: #030116;
 width: 100%;
 height: 100%;

}
main {
   width: calc(100cw - 127px);
}


/* =========================================
               sidebar styling
============================================ */
.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  height: 100vh;
  background: #030116;
  width:123px;
  font-size: 12px;
}
.text-bold {
  font-weight: bold;
  background-color: #02CAF8C4;
  transition: all .2s ease-in-out;
}
.nav {
  flex-direction: column;
  color: #ffffff;
  padding: 15px;
  row-gap: 5px;
  /* padding-left: 20px; */
}
.nav li {
  padding: 7px;
  border-radius: 5px;
}
.nav-items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.wrapper-container {
  /* width: 100vw; */
}
.wrapper-section {
  width: 123px;
}
.children {
  width: 100%;
}

/* =================================
                navbar styling
    ==================================== */

.navbar-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  /* height: 70px; */
  
}

/* search container */
.search-container {
  display: flex;
  align-items: center;
  row-gap: 10px;
}
.search-container > label {
  position: relative;
  display: flex;
  align-items: center;
  background: #D9D9D9;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 1px 1px 1px #D9D9D9;
}
.search-container > label > input{
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  width: 170px;
  text-indent: 20%;
}
.search-icon {
  position: absolute;
  font-size: 20px;
  color: #0000006c;
  /* display: none; */
}
.filter-icon {
  font-size: 30px;
  margin-left: 10px;
  margin-right: 10px;
  color: #0000006c;
  /* display: none; */
}
input::placeholder {
  font-size: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* ================================
              Home page
===================================== */
.home-page {

}
.home-page h2 {
  font-size: 28px;
  font-weight: 700;
}

/* ===========================
         slider
  =========================== */
 .recommended-container {
  width: 100%;
  /* height: 200px; */
  overflow-x: hidden;
 }
 .slicker-slider {
  width: 100% !important;
 }
 .slider {
  width: calc(100vw - 120px);
 }

/* .topchart-list {
  position: relative;
}
.topchart-list:nth-child(1)::before {
  content: "2";
}
.topchart-list:nth-child(1)::before {
  content: "2";
}
.topchart-list:nth-child(1)::before {
  content: "2";
}
.topchart-list:nth-child(1)::before {
  content: "2";
}
.topchart-list:nth-child(1)::before {
  content: "2";
}
.topchart-list:nth-child(1)::before {
  content: "2";
}
.topchart-list:nth-child(1)::before {
  content: "2";
}
.topchart-list::before {
  content: "1";
  display: flex;
  justify-content: center;
  font-weight: bolder;
  font-size: 18px;
  align-items: center;
  background: yellow;
  position: absolute;
  left: -30px;
  width: 10px;
  height: 100%;
} */